<div class="list-group list-group-flush">
    <a *ngFor="let product of products" [routerLink]="['/products', product.id]" class="list-group-item list-group-item-action"
        [title]="product.title + ' details'">
        <div class="d-flex w-100 justify-content-between">
            <div class="d-flex flex-row">
                <img [src]="product.imageUri" style="width:30px;height:30px;">
                <h5 class="ml-3">{{product.name}}</h5>
            </div>
            <small>3 days ago</small>
        </div>
    </a>
</div>
